.rig-list-container
    
.grid-header
    width: 100%
    margin-left: auto
    margin-right: auto

.show-grid
    margin-left: auto
    margin-right: auto    

.header-column
    border: black solid 1px
     